<h1 [style.marginTop.px]="'50'">Already Bought List</h1>
<div [ngClass]="'bg-primary container'" >
    <ng-container *ngIf="getProductsBought().length!=0">
        <div [ngClass]="'d-flex flex-row justify-content-center text-white'" *ngFor="let product of getProductsBought()">
            <span  [ngClass]="'mx-3'" [ngStyle]="tableCellsStyle()">
                Bought {{product.quantity}} of {{product.productName}} for total price 
                of {{product.pricePerItem | totalPrice: product.quantity}}
            </span>
            <span><button (click)="tobuy(product.id)">Remove!</button></span>
        </div>
    </ng-container>
    <ng-container *ngIf="getProductsBought().length==0" >
        <div [ngClass]="'text-white'">
            Nothing bought yet!
        </div>
    </ng-container>
</div>